@media only screen and  (min-width: 768px) {

    .gallery-list {
        padding:0;
    }

    .gallery-list > li {
        margin-right: 1.3rem;
        display:inline-block;
        max-width:100%;
    }


    .gallery-container > input {
        width: 35%;
    }

    .overlay {
        opacity:0;
    }

    .pswp__caption__center  {
        max-width:570px;
        color:white
    }
}


@media only screen and  (min-width: 1024px) {

    .gallery-list > li {
        margin-right: 4rem;
        margin-left:2rem;
        max-width:100%;
    }

}